.nuxt-content > * {
  margin-bottom: 1em;
}
.nuxt-content b {
  font-weight: bold;
  text-decoration: underline;
}

.nuxt-content :is(h1, h2, h3, h4, h5, h6) {
  margin: 0.5em 0;
}

.nuxt-content iframe {
  width: 80%;
  aspect-ratio: 16/9;
  margin: 0 10%;
  border-radius: var(--border-radius-8);
}

.nuxt-content .image-1 {
  width: 100%;
}

.nuxt-content .image-1 img {
  width: 50%;
  margin: 0 25%;
}

.nuxt-content .image-2 {
  width: 100%;
  display: flex;
}

.nuxt-content .image-2 img {
  width: 50%;
  margin: 1em;
}

.nuxt-content :is(ol, ul) {
  list-style: disc;
  padding-left: 1em;
}

.nuxt-content ol {
  list-style: upper-roman;
}
